# Ignore the data and images folders
data/
images/

# Ignore environment folders 
myenv/
aimlenv/
support-files/
training_checkpoints/
logs/
bestModel/

# Ignore the .vscode folder
.vscode/

# Ignore all PDF files
*.pdf
*.png

# Ignore all .ini files (including desktop.ini)
*.ini

# Ignore the desktop.ini file
desktop.ini

# Keep .ipynb and .py files
#!*.ipynb
!*.py

# Ignore Python cache files
__pycache__/
*.pyc