# Ignore the data and images folders
data/
images/

# Ignore the myenv folder (virtual environment)
myenv/

# Ignore the .vscode folder
.vscode/

# Ignore all PDF files
*.pdf

# Ignore all .ini files (including desktop.ini)
*.ini

# Ignore the desktop.ini file
desktop.ini

# Keep .ipynb and .py files
!*.ipynb
!*.py
