# Ignore the data and images folders
data/
images/

# Ignore the myenv folder (virtual environment)
myenv/
support-files/

# Ignore the .vscode folder
.vscode/

# Ignore all PDF and png files
*.pdf
*.png

# Ignore all .ini files (including desktop.ini)
*.ini


# Ignore the desktop.ini file
desktop.ini

# Keep .ipynb and .py files
#!*.ipynb
!*.py
